{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 100,
  "bracketSpacing": true,
  "arrowParens": "always",
  "trailingComma": "es5",
  "endOfLine": "lf",
  "overrides": [
    {
      "files": [
        "*.c",
        "*.cc",
        "*.cpp",
        "*.cxx",
        "*.h",
        "*.hh",
        "*.hpp",
        "*.hxx"
      ],
      "options": {
        "parser": "babel"
      }
    }
  ]
}
